@import "../variables/colors";
@import "../helper/mixins";


section:nth-of-type(3){
    max-width: 1200px;
    margin: 0 auto ;
    text-align: center;
     
    .products{
        @include Flex();
        @include Grid(1fr , repeat(auto-fit , minmax(200px , auto)) , 40px);
        >div{
            >*{
                margin-bottom: 3px;
            }
            @include Flex(null , flex-start , column);
            padding: 10px;
            border: 1px solid #b8b8b8;
            border-radius: 20px;
            box-shadow: 20px 20px 30px rgb(0, 0, 0 , 0.02);
            transition: all 0.4s ease;
            img{
                height: 300px;
                border-radius: 20px;
                width: 100%;
            }
            >span{
                margin-top: 10px;
                font-size: 14px;
                color: $color-gray;
                display: inline-block;
            }
            h4{
                font-size: 15px;
                font-weight: bold;
                color: $color-azure-dark;
            }
            .price{
                width: 100%;
                @include Flex(space-between,center,null);
                >span{
                    font-size: 15px;
                    font-weight: bold;
                    color: $color-azure-dark;
                }
                >div{
                    @include Dimensions(30px,30px);
                    @include Flex();
                    border-radius: 50%;
                    background-color: $color-gray-light;
                    color: $color-azure-dark;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .stars{
                color: $color-goldenrod;
                >i{
                    font-size: 14px;
                }
            }
            &:hover{
                box-shadow: 20px 20px 54px rgba(70, 62, 100, .3);
                border: 1px solid $color-azure-dark;
            }
        }
    }
    p{
        margin-bottom: 60px;
    }
}